services:
  api:
    volumes:
      - ./app:/app/app:cached
      - ./worker:/app/app/worker:cached
      - ../model/checkpoints:/models/checkpoints:ro
    command: >
      uvicorn app.main:app
      --host 0.0.0.0 --port 8501
      --reload --reload-dir /app/app

  worker:
    volumes:
      - ./app:/app/app:cached
      - ./worker:/app/app/worker:cached
      - ../model/checkpoints:/models/checkpoints:ro
    command: >
      celery -A app.worker.celery_app:app worker
      --loglevel=INFO
      --queues=ingress,infer
      --hostname=worker@%h
      --pool=solo